.view-results-container {
  padding: 20px;
  overflow-x: auto;
  
  
  
}

.filter {
  display: flex;
  flex-wrap: wrap ;
  justify-content:center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter input {
  padding: 8px;
  width: 100%;
  max-width: 300px;
}

.buttons-wrapper {

  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  gap: 20px;
}
.sorting-button {
  gap: 10px;
  min-width: 150px;


  
}
.table-wrapper {
  width: 100%;
  overflow-x: scroll;

}
.results-table {
  
  width: 100%;
  border-collapse: collapse;
} 

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.results-table th {
  background-color: #f2f2f2;
  cursor: pointer;
}


